.vscode/launch.json
.vscode/settings.json
__pycache__/__init__.cpython-39.pyc
__pycache__/main.cpython-39.pyc
static/faces/3Cn9UkMJUsAA6fkd.jpeg
static/faces/17family-5412437_960_720.jpg
static/faces/18family-5412437_960_720.jpg
static/faces/24Cn9UkMJUsAA6fkd.jpeg
static/faces/25family-5412437_960_720.jpg
static/faces/26Cn9UkMJUsAA6fkd.jpeg
static/faces/29Cn9UkMJUsAA6fkd.jpeg
static/faces/34family-5412437_960_720.jpg
static/faces/42family-5412437_960_720.jpg
static/faces/50Cn9UkMJUsAA6fkd.jpeg
static/faces/53family-5412437_960_720.jpg
static/faces/55family-5412437_960_720.jpg
static/faces/57family-5412437_960_720.jpg
static/faces/62Cn9UkMJUsAA6fkd.jpeg
static/faces/64Cn9UkMJUsAA6fkd.jpeg
static/faces/67family-5412437_960_720.jpg
static/faces/78family-5412437_960_720.jpg
static/faces/84family-5412437_960_720.jpg
static/faces/89family-5412437_960_720.jpg
static/faces/94family-5412437_960_720.jpg
static/faces/96family-5412437_960_720.jpg
案/06bb52f857790939e99e42e88ce9ef20.jpg
案/adfaf.png
案/ddd.png
案/あなたの連絡を待ってる大切な人がいますプロジェクト.svg
案/デザイン案_-fs8.png
案/デザイン案.png
案/基礎設計案-fs8.png
案/参考案p1-fs8.png
案/参考案p2-fs8.png
案/参考案p3-fs8.png
案/範囲を選択_1(002).png
案/範囲を選択_2(001).png
案/範囲を選択_2(002).png
案/範囲を選択_5.png
案/範囲を選択_5(001).png
案/範囲を選択_7(002).png
案/範囲を選択_8(003).png
案/範囲を選択_9(001).png
案/範囲を選択_9(002).png
案/範囲を選択_b(003).png
案/範囲を選択_b(004).png
web_app/__pycache__/main.cpython-39.pyc
