{% extends "base.html" %}
{% block content %}
        <div class="box">
                <h1 class="title"> No face was found in the uploaded photo.</h1>
                <p>If you see this message even though faces in uploaded photo..</p>
                <ul class="has-text-left">
                    <li>
                        The face must be larger than 80x80px in width and height.<br />
                        <ul><li>Please upload a photo with a <strong>larger face</strong>.</li></ul>
                    </li>
                    <li>
                        Faces that facing down or side tend to be difficult to recognize.<br />
                        <ul><li>Please upload a photo that <strong>faces the front</strong> as much as possible.</li></ul>
                    </li>
                </ul>
                <figure >
                </figure>
                <a href="{{ url_for('goto_upload_page') }}">
                    <button class="button is-primary">Re-upload</button>
                </a>
        </div>
{% endblock %}