<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css">
    <style>
        #loading img {
            position: fixed;
            top: 45%;
            left: 45%;
            opacity: 0.8;
            z-index: 10;
        }

        .hidden {
            display: none;
        }
    </style>
    <title>Disaster</title>
</head>

<body style="background-color:#ffe8f6; max-width: 600px; margin: auto;">
<!-- <body style="background-color:#ffe8f6"> -->
    <nav class="navbar is-light" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="{{ url_for('index') }}">
                <img src="/static/images/logo.png" width="112">
            </a>

            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false"
                data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start">
                <!-- <a class="navbar-item" href="{{ url_for('index') }}">Home</a> -->
                <a class="navbar-item" href="{{ url_for('information') }}">Information</a>
                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link">Contribution</a>
                    <div class="navbar-dropdown">
                        <a class="navbar-item">Individual</a>
                        <a class="navbar-item">Enterprise</a>
                        <a class="navbar-item">Organization</a>
                    </div>
                    <a class="navbar-item" href="https://github.com/yKesamaru/disaster#disaster"
                        target="blank">Tech document</a>
                </div>
            </div>

            <!-- <div class="navbar-end">
                <div class="navbar-item">
                    <div class="buttons">
                        <a class="button is-primary">
                            <strong>Sign up</strong>
                        </a>
                        <a class="button is-light">Log in</a>
                    </div>
                </div>
            </div> -->
        </div>
    </nav>

    <img src="/static/images/top.png" alt="top image" style="vertical-align: top; width: 100%;">

    <!-- now processing logo -->
    <div id="loading" class="hidden" style="vertical-align: center; width: auto;">
        <img src="/static/images/icon_loader.png" alt="loading">
    </div>
    
    <section class="section">
        <p class="content has-text-centered">
            <strong>This site is example build on HEROKU<br /></strong>
            visit <a href="https://github.com/yKesamaru/disaster" target="blank">Disaster on github</a>
        </p>
        <div class="content has-text-centered">
            <div class="container is-mobile">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </section>

    <img src="/static/images/bottom.png" alt="" style="vertical-align: bottom; width: 100%;">

    <!-- <footer class="footer">
        <div class="content has-text-centered">
            <p>
                <strong>Disaster "There is a loved one waiting for your contact"</strong> by Y. Kesamaru<a href=""></a>.
                The source code is licensed
                <a href="http://opensource.org/licenses/mit-license.php">MIT</a>.
            </p>
        </div>
    </footer> -->

    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);
            if ($navbarBurgers.length > 0) {
                $navbarBurgers.forEach(el => {
                    el.addEventListener('click', () => {
                        const target = el.dataset.target;
                        const $target = document.getElementById(target);
                        el.classList.toggle('is-active');
                        $target.classList.toggle('is-active');
                    });
                });
            }
        });

    </script>
</body>

</html>