{% extends "base.html" %}
{% block content %}
<h1 class="title">Choose a photo (example)</h1>
<p>Please choose one from the photos below.</p>
<p class="has-text-left">
    Technical description<br />
    This Disaster demonstration site is built on HEROKU.<br />
    Since the memory limit is as small as 512MB, we have prepared a small photo that does not use much memory for processing.
</p>
<figure class="image is-128x128">
    <img src="https://versions.bulma.io/0.7.0/images/placeholders/128x128.png">
</figure>
{% endblock %}