{% extends "base.html" %}
{% block content %}
<h1 class="title">Choose a photo (example)</h1>
<p>Please choose one from the photos below.</p>
<p class="has-text-left">
    <strong>Technical description<br /></strong>
    This Disaster demonstration site is built on HEROKU.<br />
    Since the memory limit is as small as 512MB, we have prepared a small photo that does not use much memory for processing.
</p>
<form method="post" enctype="multipart/form-data" action="uploads">
    <img id="upload" style="border-radius: 10px" width="80" src="static/photos/01.png">
    <img id="upload" style="border-radius: 10px" width="80" src="static/photos/02.png">
    <img id="upload" style="border-radius: 10px" width="80" src="static/photos/03.png">
    <img id="upload" style="border-radius: 10px" width="80" src="static/photos/04.png">
    <img id="upload" style="border-radius: 10px" width="80" src="static/photos/05.png">
    <img id="upload" style="border-radius: 10px" width="80" src="static/photos/06.png">
    <img id="upload" style="border-radius: 10px" width="80" src="static/photos/07.png">
    <img id="upload" style="border-radius: 10px" width="80" src="static/photos/08.png">
    <img id="upload" style="border-radius: 10px" width="80" src="static/photos/09.png">
    <img id="upload" style="border-radius: 10px" width="80" src="static/photos/10.png">
    <img id="upload" style="border-radius: 10px" width="80" src="static/photos/11.png">
    <img id="upload" style="border-radius: 10px" width="80" src="static/photos/12.png">
    <img id="upload" style="border-radius: 10px" width="80" src="static/photos/13.png">
    <img id="upload" style="border-radius: 10px" width="80" src="static/photos/14.png">
    <img id="upload" style="border-radius: 10px" width="80" src="static/photos/15.png">
    <img id="upload" style="border-radius: 10px" width="80" src="static/photos/16.png">
    <img id="upload" style="border-radius: 10px" width="80" src="static/photos/17.png">
    <img id="upload" style="border-radius: 10px" width="80" src="static/photos/19.png">
    <img id="upload" style="border-radius: 10px" width="80" src="static/photos/20.png">
    <img id="upload" style="border-radius: 10px" width="80" src="static/photos/21.png">
</form>
<script>
    document.getElementById("upload").addEventListener("click", function (e) {
        //Loading image (display)
        document.getElementById('loading').classList.remove('hidden');
    });
</script>
{% endblock %}