{% extends "base.html" %}
{% block content %}
<h1 class="title">Contribution<br>Individual</h1>
<p>You can post a list of people who contributed to the development of Disaster and individuals who made donations on
    this page.</p>
<div class="card has-text-left">
    <div class="card-content">
        <div class="media">
            <div class="media-left">
                <figure class="image is-48x48">
                    <img src="https://avatars.githubusercontent.com/u/93259837?v=4">
                </figure>
            </div>
            <div class="media-content">
                <p class="title is-4">Yoshitsugu Kesamaru</p>
                <p class="subtitle is-6">https://github.com/yKesamaru</p>
            </div>
        </div>

        <div class="content">
            <p>
                Face recognition and others.
            </p>
            <a href="#">Twitter</a><br>
            <a href="#">Facebook</a>
        </div>
    </div>
</div>
<div class="card has-text-left">
    <div class="card-content">
        <div class="media">
            <div class="media-left">
                <figure class="image is-48x48">
                    <img src="/static/images/person.png">
                </figure>
            </div>
            <div class="media-content">
                <p class="title is-4">Person name</p>
                <p class="subtitle is-6">https://github.com/person</p>
            </div>
        </div>

        <div class="content">
            <p>
                I have a tomato.
            </p>
            <a href="#">Twitter</a><br>
            <a href="#">Facebook</a>
        </div>
    </div>
</div>
{% endblock %}