{% extends "base.html" %}
{% block content %}
<h1 class="title">Information</h1>
<img src="/static/images/flooding-minot-n-d-june-24-2011-red-cross-shelter-in-an-auditorium-that-is-c80be8-1024.jpg"
    width="200px" style="border-radius: 5px;" alt="">
<p>On the "Information" page, you can post information.<br />
    For example, the status of each shelter, a list of shelters that collect face information in Disaster, whether you
    can search by name in addition to face information, etc.</p>
<p>You can also include links to access other information. For example, as below.</p>
<figure class="has-text-left">
    <blockquote cite="https://www.usa.gov/after-disaster">
        <ul>
            <li>
                <h3 class="accordion-heading">
                    <button class="usa-accordion-button initialized" aria-expanded="true"
                        aria-label="Find a Missing Person After a Disaster" aria-controls="accordion-item-37172-0">Find
                        a Missing Person After a Disaster</button>
                </h3>
                <div id="accordion-item-37172-0" class="usa-accordion-content" aria-hidden="false">
                    <p>First, call your local law enforcement agency if family members or friends are missing after a
                        disaster.</p>
                    <ul>
                        <li>
                            <p>If you're <a href="https://www.missingkids.org/">searching for or caring for a lost
                                    child</a>, call 1-800-THE-LOST (<span class="num">1-800-843-5678</span>). This is
                                the hotline for the National Center for Missing and Exploited Children. They also run an
                                <a
                                    href="https://umr.missingkids.org/umr/reportUMR;jsessionid=39E1C684F0268E6A4B04D6F74C2C3DED?execution=e1s1">online
                                    registry for children separated from their parents during a disaster</a>. If you
                                find one of these kids, report it there.</p>
                        </li>
                        <li>
                            <p>Get <a href="https://namus.nij.ojp.gov/">help locating a missing person</a> by using the
                                National Missing and Unidentified Persons System (NamUS). The program can help with
                                printing missing person posters, getting free forensic services like DNA analysis, and
                                more.&nbsp;</p>
                        </li>
                    </ul>
                </div>
            </li>
    </blockquote>
    <figcaption>—After a Disaster, <cite>USAGov</cite></figcaption>
</figure>
{% endblock %}