{% extends "base.html" %}
{% block content %}
<h1 class="title"> No face was found in the uploaded photo.</h1>
<div class="box">
    <p class="has-text-left">If you see this message even though faces in uploaded photo..</p>
    <ul class="has-text-left">
        <li>
            The face must be large relative to the size of the photo.<br />
            <ul>
                <li>Please upload a photo with a <strong>larger face</strong>.</li>
            </ul>
        </li>
        <li>
            Faces that facing down or side tend to be difficult to recognize.<br />
            <ul>
                <li>Please upload a photo that <strong>faces the front</strong> as much as possible.</li>
            </ul>
        </li>
    </ul>
</div>
<a href="{{ url_for('goto_upload_page') }}">
    <button class="button is-primary">Re-upload</button>
</a>
{% endblock %}