{% extends "base.html" %}
{% block content %}
<h1>Too large size!</h1>
<p>Upload photo file should be less than X MB.</p>
<p class="has-text-left">
    <strong>Technical description<br /></strong>
    This Disaster demonstration site is built on HEROKU.<br />
    Since the memory limit is as small as 512MB, we have prepared a small photo (&lt;300KB) that does not use much
    memory for processing.<br />
    Although it depends on the server specs, the file size of uploaded photos is usually 16MB in production operation.
</p>
<p class="has-text-left">
    So either re-upload a photo with a big face (80x80px or larger) and a size less than 300KB, or tap the photo below
    to download and then upload it.
</p>
<p>
    <a href="{{ url_for('goto_upload_page') }}">
        <button class="button is-primary">Re-upload</button>
    </a>
</p>
<p>Or</p>
<p>Tap the photo below to download photos what are appropriate file size.<br /></p>
</p>
<a href="static/photos/01.png" download onclick="location.href='{{ url_for('goto_upload_page') }}'"><img id="upload" style="border-radius: 10px" width="80" src="static/photos/01.png"></a>
<a href="static/photos/02.png" download onclick="location.href='{{ url_for('goto_upload_page') }}'"><img id="upload" style="border-radius: 10px" width="80" src="static/photos/02.png"></a>
<a href="static/photos/03.png" download onclick="location.href='{{ url_for('goto_upload_page') }}'"><img id="upload" style="border-radius: 10px" width="80" src="static/photos/03.png"></a>
<a href="static/photos/04.png" download onclick="location.href='{{ url_for('goto_upload_page') }}'"><img id="upload" style="border-radius: 10px" width="80" src="static/photos/04.png"></a>
<a href="static/photos/05.png" download onclick="location.href='{{ url_for('goto_upload_page') }}'"><img id="upload" style="border-radius: 10px" width="80" src="static/photos/05.png"></a>
<a href="static/photos/06.png" download onclick="location.href='{{ url_for('goto_upload_page') }}'"><img id="upload" style="border-radius: 10px" width="80" src="static/photos/06.png"></a>
<a href="static/photos/07.png" download onclick="location.href='{{ url_for('goto_upload_page') }}'"><img id="upload" style="border-radius: 10px" width="80" src="static/photos/07.png"></a>
<a href="static/photos/08.png" download onclick="location.href='{{ url_for('goto_upload_page') }}'"><img id="upload" style="border-radius: 10px" width="80" src="static/photos/08.png"></a>
<a href="static/photos/09.png" download onclick="location.href='{{ url_for('goto_upload_page') }}'"><img id="upload" style="border-radius: 10px" width="80" src="static/photos/09.png"></a>
<a href="static/photos/10.png" download onclick="location.href='{{ url_for('goto_upload_page') }}'"><img id="upload" style="border-radius: 10px" width="80" src="static/photos/10.png"></a>
<a href="static/photos/11.png" download onclick="location.href='{{ url_for('goto_upload_page') }}'"><img id="upload" style="border-radius: 10px" width="80" src="static/photos/11.png"></a>
<a href="static/photos/12.png" download onclick="location.href='{{ url_for('goto_upload_page') }}'"><img id="upload" style="border-radius: 10px" width="80" src="static/photos/12.png"></a>
<a href="static/photos/13.png" download onclick="location.href='{{ url_for('goto_upload_page') }}'"><img id="upload" style="border-radius: 10px" width="80" src="static/photos/13.png"></a>
<a href="static/photos/14.png" download onclick="location.href='{{ url_for('goto_upload_page') }}'"><img id="upload" style="border-radius: 10px" width="80" src="static/photos/14.png"></a>
<a href="static/photos/15.png" download onclick="location.href='{{ url_for('goto_upload_page') }}'"><img id="upload" style="border-radius: 10px" width="80" src="static/photos/15.png"></a>
<a href="static/photos/16.png" download onclick="location.href='{{ url_for('goto_upload_page') }}'"><img id="upload" style="border-radius: 10px" width="80" src="static/photos/16.png"></a>
<a href="static/photos/17.png" download onclick="location.href='{{ url_for('goto_upload_page') }}'"><img id="upload" style="border-radius: 10px" width="80" src="static/photos/17.png"></a>
<a href="static/photos/18.png" download onclick="location.href='{{ url_for('goto_upload_page') }}'"><img id="upload" style="border-radius: 10px" width="80" src="static/photos/18.png"></a>
<a href="static/photos/19.png" download onclick="location.href='{{ url_for('goto_upload_page') }}'"><img id="upload" style="border-radius: 10px" width="80" src="static/photos/19.png"></a>
<a href="static/photos/20.png" download onclick="location.href='{{ url_for('goto_upload_page') }}'"><img id="upload" style="border-radius: 10px" width="80" src="static/photos/20.png"></a>
<a href="static/photos/21.png" download onclick="location.href='{{ url_for('goto_upload_page') }}'"><img id="upload" style="border-radius: 10px" width="80" src="static/photos/21.png"></a>

<script>

</script>
{% endblock %}