{% extends "base.html" %}
{% block content %}
<p class="title">Choose a photo that clearly shows the face</p>
<form method="post" enctype="multipart/form-data" action="uploads">
    <label class="button is-info">
        Choose a photo
        <input type="file" input id="selected_file" name="img_file" style="display: none;">
    </label>
    <input class="button is-primary" type="submit" value="upload">
</form>
<!-- <div class="box"> -->
    <img id="file-preview" style="width: 50%;">
<!-- </div> -->

<script>
    document.getElementById('selected_file').addEventListener('change', function (e) {
        // 1枚だけ表示する
        var file = e.target.files[0];

        // ファイルのブラウザ上でのURLを取得する
        var blobUrl = window.URL.createObjectURL(file);

        // img要素に表示
        var img = document.getElementById('file-preview');
        img.src = blobUrl;
    });
</script>
{% endblock %}